*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: grid;
  place-items: center;
  background-color: #000;
  background-image: url("./assets/images/Background\ \(7\).png");
  background-repeat: no-repeat;
  background-size: contain;
  
}
.search-form{
  display: flex;
  align-items: center;
  width: 600px;
  height: 40px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: rgba(74, 21, 249, 0.456);
  input{
    flex: 1;
    height: 100%;
    outline: none;
    border: none;
    text-indent: 10px;
    font-size: 18px;
    color: #fff;
    background: transparent;
  }
  button{
    height: 100%;
    padding: 0px 30px;
    border: none;
    color: #fff;
    font-size: 20px;
    background-color: #000;
  }
}